* {
    box-sizing: border-box;
}

.p-top {
    padding: 10px 15px 0 15px;
}
.p-bootom {
    padding: 10px 15px 10px 15px;
}

.mg-bottom {
    margin-bottom: 20px;
}

.h-70px {
    min-height: 70px;
}


.h-350px {
    height: 350px;
}

.h-300px {
    height: 300px;
}

.h-100px {
    height: 100px;
}

.h-250px {
    height: 250px;
}

.h-150px {
    height: 150px;
}

.h-170px {
    height: 170px;
}

.h-75px {
    height: 75px;
}

.bg-grey {
    background: grey;
}

.bg-silver {
    background: silver;
}
